:root {
  --text-primery-color: #000000;
  --text-secondary-color: #ffffff;
  --text-accent-color: #d41443;
  --text-lable-color: #ffa5ba;
  --text-item-color: #907e82;

  --bg-primery-color: #ffffff;
  --bg-secondary-color: #fff5f6;

  --icon-color: #ffffff;
  --icon-accent-color: #ffa5ba;
  --border-line-color: #e1e1e1;
}
