    <section class="contacts-section section">
        <div class="contacts-container">
            <h2 class="contacts-section__title visually-hidden">Contacts</h2>
            <ul class="contacts-section__list list">
                <li class="contacts-section__item">
                    <span class="contacts-section__item-category contacts-section__item-category--brown">CAFE</span>
                    <div class="contacts-location">
                        <h3 class="contacts-location__city">Chicago</h3>
                        <p class="contacts-location__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <div class="working-schedule">
                        <p class="working-schedule__days">Monday - Friday</p>
                        <time class="working-schedule__hours">06:00 AM - 10:00 PM</time>
                        <p class="working-schedule__days">Saturday - Sunday</p>
                        <time class="working-schedule__hours">08:00 AM - 16:00 PM</time>
                    </div>
                    <div class="contacts-section__contacts">
                        <a class="contacts-section__contacts--item" href="tel:+610383766284">+61(0) 383 766 284</a>
                        <a class="contacts-section__contacts--item" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>
                </li>
                <li class="contacts-section__item">
                    <span class="contacts-section__item-category contacts-section__item-category--green">FOODTRUCK</span>
                    <div class="contacts-location">
                        <h3 class="contacts-location__city">Los Angeles</h3>
                        <p class="contacts-location__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <div class="working-schedule">
                        <p class="working-schedule__days">Monday - Friday</p>
                        <time class="working-schedule__hours">06:00 AM - 10:00 PM</time>
                        <p class="working-schedule__days">Saturday - Sunday</p>
                        <time class="working-schedule__hours">08:00 AM - 16:00 PM</time>
                    </div>
                    <div class="contacts-section__contacts">
                        <a class="contacts-section__contacts--item" href="tel:+610383766284">+61(0) 383 766 284</a>
                        <a class="contacts-section__contacts--item" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>
                </li>
                <li class="contacts-section__item">
                    <span class="contacts-section__item-category contacts-section__item-category--brown">CAFE</span>
                    <div class="contacts-location">
                        <h3 class="contacts-location__city">New York</h3>
                        <p class="contacts-location__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <div class="working-schedule">
                        <p class="working-schedule__days">Monday - Friday</p>
                        <time class="working-schedule__hours">06:00 AM - 10:00 PM</time>
                        <p class="working-schedule__days">Saturday - Sunday</p>
                        <time class="working-schedule__hours">08:00 AM - 16:00 PM</time>
                    </div>
                    <div class="contacts-section__contacts">
                        <a class="contacts-section__contacts--item" href="tel:+610383766284">+61(0) 383 766 284</a>
                        <a class="contacts-section__contacts--item" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </div>
                </li>
            </ul>
            <div class="contacts-section__buttons">
                <button class="contacts-section__buttons-locations button" type="button" data-modal-open>Our Locations
                    <!-- <svg class="button-locations__icon">
                                    <use href="../images/symbol-defs.svg#icon-Vector-1"></use>
                                </svg> -->
                </button>
                <button class="contacts-section__buttons-franchise button" type="button">Franchise</button>
            </div>
        </div>
    </section>

    <div class="contacts-backdrop is-hidden" data-modal>
        <div class="contacts-modal">
            <button class="modal__button-close" type="button" data-modal-close>X</button>
        </div>
    </div>
