<section class="gallary-conteiner">
    
    <div class="gallary-conteiner__box container">

        <div class="gallery-conteiner__fe">
            <img
            srcset="./images/picture/pic1-360@2x.jpg 300w,
             ./images/picture/pic1-360@3x.jpg 300w,
             ./images/picture/pic1-767.jpg 767w,
             ./images/picture/pic1-767@2x.jpg 767w,
             ./images/picture/pic1-767@3x.jpg 767w,
             ./images/picture/pic1-1200.jpg 1200w,
             ./images/picture/pic1-1200@2x.jpg 1200w,
             ./images/picture/pic1-1200@3x.jpg 1200w
            "
             src="./images/picture/pic1-360.jpg" alt="#" class="picture">
            
        </div>
    
                 <div class="gallery-conteiner__content">
    
                     <div class="gallery-conteiner__item">
                         <img src="./images/mobile/home2.jpg" alt="#" class="picture">
                      
                     </div>
                
                     <div class="gallery-conteiner__item">
                            <img  src="./images/mobile/home3.jpg" alt="#" class="picture">
      
                     
                     </div>
                 </div> 
    
                 <div class="gallery-conteiner__content">
                     <div class="gallery-conteiner__subitem">
                            <img  src="./images/mobile/home4.jpg" alt="#" class="picture">
                    
                     
                     </div>
    
                     <div class="gallery-conteiner__item">
                            <img  src="./images/mobile/home5.jpg" alt="#" class="picture">
                    
                     
                     </div>
                 </div>
    
                <div class="gallery-conteiner__content">
                    <div class="gallery-conteiner__item">
                            <img  src="./images/mobile/home6.jpg" alt="#" class="picture">
                      
                    
                    </div>
    
                    <div class="gallery-conteiner__item">
                            <img  src="./images/mobile/home7.jpg" alt="#" class="picture">
                      
                    
                    </div>
                </div>
    
                <div class="gallery-conteiner__list">
                    <div class="gallery-conteiner__item">
                            <img  src="./images/mobile/home8.jpg" alt="#" class="picture">
                      
                    
                    </div>
    
                    <div class="gallery-conteiner__item">
                            <img  src="./images/mobile/home9.jpg" alt="#" class="picture">
                  
                   
                    </div>
                </div>
    
    
    
                <div class="gallery-conteiner__fe">
                        <img src="./images/mobile/home10.jpg" alt="#" class="picture">
                
               
                </div>
    
    </div>
    </section>
