<!-- хедэр -->
<header class="page-header">
  <div class="container">
    <a href="#" class="logo">
      <img src="./images/header-hero/logo.png" alt="лого" />
    </a>
    <button
      type="button"
      class="menu-btn"
      aria-expanded="false"
      data-menu-button
    >
      <svg width="20" height="20" aria-label="Переключатель мобильного меню">
        <use class="icon-cross" href="./images/icons.svg#cross"></use>
        <use class="icon-burger" href="./images/icons.svg#burger"></use>
      </svg>
    </button>
    <div class="menu-container" data-menu>
      <button type="button" class="buynow-btn">
        <div class="buynow-btn__thumb">
          <span class="buynow-btn__txt">Buy now</span>
          <svg width="7" height="10" class="buynow-btn__arrow">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
        </div>
      </button>
      <nav class="page-header__nav">
        <ul class="nav">
          <li class="nav__item">
            <a class="nav__link" href="#">Home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#about">About us</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#how-its-made">How it’s made?</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#products">Our products</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<!-- модалка -->
<!-- <div data-modal class="backdrop backdrop--is-hidden">
  <div class="modal">
    <button type="button" class="modal__closebtn"></button>
    <p class="modal__title"></p>
    <form action="" class="modal__form"></form>
  </div>
</div> -->

<!-- секция герой -->
<section class="hero">
  <div class="container">
    <div>
      <h1>Ice cream made with <span>passion</span></h1>
      <div>
        <ul>
          <li>
            <a href="#products">Products</a>
          </li>
          <li>
            <a href="#how-its-made">How it’s made?</a>
          </li>
        </ul>
      </div>
      <div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos pariatur
          vel aut magni optio delectus.
        </p>
        <button type="button">
          <svg class="arrow">
            <use
              class="icon-arrow-right"
              width="26"
              height="26"
              href="./images/icons.svg#arrow-right"
            ></use>
          </svg>
        </button>
      </div>
    </div>
    <!-- объекты компании -->
    <aside>
      <ul>
        <li><span>16</span>cafes</li>
        <li><span>23</span>food trucks</li>
      </ul>
    </aside>
    <!-- картинки -->
    <div></div>
  </div>
</section>
<script src="./JS/menu.js"></script>
