<section class="products section" id="products" >
    <div class="container">
        <span class="products__title">100% natural</span>
        <h2 class="products__title-caption">products</h2>
        <ul class="products__list">
            <li class="products__section-cream">
                <div class="products__input products__input-cream">
                    <h3 class="products__title-chapter ">ice cream</h3>
                    <p class="products__title-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <button class="products__btn" type="button">
                        <svg class="products__btn-arrow">
                            <use href="./images/products/symbol-defs.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </div>  
            </li>  
            <li class="products__section-coffee">
                <div class="products__input products__input-coffee">
                    <h4 class="products__title-chapter">ice coffee</h4>
                    <p class="products__title-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <button class="products__btn" type="button"> 
                        <svg class="products__btn-arrow">
                            <use href="./images/products/symbol-defs.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products__section-milk">
                <div class="products__input products__input-milk">
                    <h4 class="products__title-chapter">milkshakes</h4>
                    <p class="products__title-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <button class="products__btn" type="button"> 
                        <svg class="products__btn-arrow">
                            <use href="./images/products/symbol-defs.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>
   
