.contacts-section {
    padding-top: 0px;
    padding-bottom: 0px;
    background-image: linear-gradient(to top, rgba(255, 245, 246, 1) 79%, #fff 21%);

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(to top, rgba(255, 245, 246, 1) 56%, #fff 44%);
    }

    @media screen and (min-width: 768px) {
        &__list {
            display: flex;
            gap: 32px;
        }
    }
    &__item {
        padding: 40px 32px;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 30px;
        box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
        width: 100%;

        @media screen and (max-width: 767px) {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
    }
        @media screen and (min-width: 768px) {
            width: calc((100% - 64px) / 3);
        }

        &-category {
            display: table-cell;
            vertical-align: middle;
            font-family: DM Sans;
            font-weight: 500;
            font-size: 12px;
            line-height: 1.86;
            letter-spacing: 0.04;
            text-align: center;
            color: #fff;
            border-radius: 4px;
            height: 16px;

            @media screen and (min-width: 768px) {
                font-size: 16px;
                height: 28px;
            }
        }
        &-category--brown {
            width: 80px;
            background-color: rgba(240, 209, 165, 1);

            @media screen and (min-width: 768px) {
                width: 73px;
            }
        }

        &-category--green {
            width: 130px;
            background-color: rgba(194, 226, 151, 1);

            @media screen and (min-width: 768px) {
                width: 138px;
            }
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 32px;

        @media screen and (min-width:768px) {
            padding-top: 60px;
            flex-direction: row;
        }

        &-locations {
           
            background-color: rgba(212, 19, 66, 1);
            color: rgba(255, 255, 255, 1);
            cursor: pointer;
            padding-right: 17px;
            padding-left: 17px;

            &:hover {
                background-color: var(--bg-btn-accent-color);
            }

            @media screen and (max-width: 767px) {
                margin-bottom: 10px;
            }
            @media screen and (min-width: 768px) {
                margin-right: 15px;
            }
            
        }
    
        &-franchise {
            color: var(--bg-button-color);
            background-color: rgba(255, 255, 255, 1);
            padding-left: 32px;
            padding-right: 32px;

            &:hover {
                background-color: var(--bg-btn-hover);
            }
        }
       
    }

    &__contacts {
        padding-top: 24px;

        &--item {
            color: rgba(144, 126, 130, 1);
            font-family: DM Sans;
            font-weight: 500;
            font-size: 12px;
            line-height: 1.5;
            text-decoration: none;

            &:hover {
                color: var(--text-btn-accent-color);
            }

            @media screen and (min-width:768px) {
                font-size: 14px;
            }
    }
    }
}

.contacts-container {
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width: 768px) {
        padding-left: 16px;
        padding-right: 16px;
    }
}
.contacts-location {
    padding-top: 20;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(225, 225, 225, 1);

    &__city {
        font-family: DM Sans;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.83;
        letter-spacing: 0.04;
        color: rgba(0, 0, 0, 1);

        @media screen and (min-width:768px) {
        font-size: 14px;
        }

    }
    &__description {
        margin-top: 8px;
        font-family: DM Sans;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.04;
        color: rgba(144, 126, 130, 1);

        @media screen and (min-width:768px) {
            font-size: 14px;
        }
    }
}
.working-schedule {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(225, 225, 225, 1);

    &__days {
        font-family: DM Sans;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.83;
        color: rgba(0, 0, 0, 1);

        @media screen and (min-width:768px) {
            font-size: 14px;
        }
}
    &__hours {
        font-family: DM Sans;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.83;
        color: rgba(255, 165, 186, 1);

        @media screen and (min-width:768px) {
                font-size: 14px;
            }
    }
}


.button {
    // position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 161px;
    height: 44px;
    border-radius: 22px;
    border: transparent;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
    outline: 0;
}
.buttons__icon {
    width: 8px;
    height: 10px;

    stroke: var(--icon-color);
    fill: none;
}
.button__icon-franchise {
    stroke: var(--bg-btn-accent-color);
    fill: none;
}

.contacts-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 165, 186, 0.2);
    z-index: 30;
}
.contacts-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 280px;
    height: 412px;
    background-color: #fff;
    border-radius: 20%;
    z-index: 40;
}
.modal__button-close {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 50%;
}