.customer-reviews {
  padding-top: 30px;
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 80px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 90px;
  }

  &__container-image {
    display: block;
    display: flex;
    justify-content: center;
  }

  &__text-container {
    position: relative;
    text-align: center;
    line-height: 2.55;
    background-color: var(--bg-customer-color);

    @media screen and (max-width: 767px) {
      padding: 43px 50px 26px 50px;
      margin-top: 32px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding: 37px 0px 44px 0px;
      margin-top: 20px;
      margin-right: auto;
      margin-left: auto;
      width: 620px;
      // margin-left: 42px;
      // margin-right: 42px;
    }

    @media screen and (min-width: 1200px) {
      padding: 20px 0px 36px 0px;
      margin-top: 16px;
      margin-left: 116px;
      margin-right: 116px;
    }
  }

  &__gradient {
    font-size: 14px;
    line-height: 2.1428571429;
    background-image: repeating-linear-gradient(
      hsla(0, 0%, 100%, 0),
      hsla(0, 0%, 100%, 0) 29px,
      #e1e1e1 0,
      #e1e1e1 30px
    );
    position: absolute;
    // background-image: -webkit-repeating-linear-gradient(
    //   top,
    //   transparent 0px,
    //   transparent 29.6px,
    //   #e1e1e1 29.6px,
    //   transparent 30.6px
    // );
    // background-image: -moz-repeating-linear-gradient(
    //   top,
    //   transparent 0px,
    //   transparent 29.6px,
    //   #e1e1e1 29.6px,
    //   transparent 30.6px
    // );
    // background-image: -ms-repeating-linear-gradient(
    //   top,
    //   transparent 0px,
    //   transparent 29.6px,
    //   #e1e1e1 29.6px,
    //   transparent 30.6px
    // );
    // background-image: -o-repeating-linear-gradient(
    //   top,
    //   transparent 0px,
    //   transparent 29.6px,
    //   #e1e1e1 29.6px,
    //   transparent 30.6px
    // );
    // background-image: repeating-linear-gradient(
    //   top,
    //   transparent 0px,
    //   transparent 29.6px,
    //   var(--bg-comma-color) 29.6px,
    //   transparent 30.6px
    // );

    @media screen and (max-width: 767px) {
      font: 500 12px/30.6px 'DM Sans';
      top: 46px;
      bottom: 15px;
      width: calc(100% - 100px);
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      font-size: 14px;
      line-height: 2.16;
      letter-spacing: 0.04em;
      top: 33px;
      left: 6px;
      width: 608px;
      height: 108px;
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px) {
      font: 500 16px/29.76px 'DM Sans';
      top: 8px;
      left: 60px;
      width: 822px;
      height: 109px;
    }
  }

  &__text-container::before {
    content: url(/src/images/customer-reviews/quotes.svg);
    position: absolute;
    z-index: 0;
    top: 30px;
    left: 53px;
    width: 54px;
    height: 40px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      top: 20px;
      left: 6px;
      width: 60.35px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: -32px;
      margin-left: -710px;
    }
  }

  &__text {
    padding-left: 15px;
    padding-right: 8px;
    font: 500 12px/30.6px 'DM Sans';
    position: relative;
    z-index: 2;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding-left: 50.71px;
      padding-right: 55.18px;
      font: 500 14px/30.24px 'DM Sans';
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px) {
      padding-left: 109px;
      padding-right: 109px;
      font: 500 16px/29.76px 'DM Sans';
    }
  }

  &__sign::before {
    content: '';
    background-image: url(/src/images/customer-reviews/group-red-circle.svg);
    display: block;
    height: 4px;
    width: 32px;
    margin-bottom: 16px;
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-top: 4px;
      margin-bottom: 16px;
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px) {
      margin-top: -8px;
      margin-bottom: 16px;
    }
  }

  &__sign {
    text-align: center;

    @media screen and (min-width: 0px) and (max-width: 767px) {
      font: 500 14px/26.04px 'DM Sans';
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      font: 500 16px/29.76px 'DM Sans';
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px) {
      font: 500 20px/37.2px 'DM Sans';
    }
  }

  &__sign::after {
    content: '';
    background-image: url(/src/images/customer-reviews/house-dots.svg);
    display: block;
    height: 12px;
    width: 72.4px;
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-top: 32px;
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px) {
      margin-top: 32px;
    }
  }
}
