.customer-reviews {
  padding-top: 30px;
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 80px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 90px;
  }

  &__container-image {
    display: block;
    display: flex;
    justify-content: center;
  }

  &__text-container {
    position: relative;
    text-align: center;
    line-height: 2.55;
    background-color: var(--bg-customer-color);
    padding: 43px 50px 26px 50px;
    margin-top: 32px;

    @media screen and (min-width: 768px) {
      padding: 37px 0px 44px 0px;
      margin-top: 20px;
      margin-right: auto;
      margin-left: auto;
      width: 620px;
    }

    @media screen and (min-width: 1200px) {
      padding: 47px 0px 39px 0px;
      margin-top: 16px;
      width: 968px;
    }
  }

  &__gradient {
    position: absolute;
    font-size: 14px;
    line-height: 2.1428571429;
    background-image: repeating-linear-gradient(
      hsla(0, 0%, 100%, 0),
      hsla(0, 0%, 100%, 0) 29px,
      #e1e1e1 0,
      #e1e1e1 30px
    );

    @media screen and (max-width: 767px) {
      top: 46px;
      bottom: 15px;
      width: calc(100% - 100px);
      font: 500 12px/30.6px 'DM Sans';
    }

    @media screen and (min-width: 768px) {
      top: 33px;
      left: 6px;
      width: 608px;
      height: 108px;
      font-size: 14px;
      line-height: 2.16;
      letter-spacing: 0.04em;
    }

    @media screen and (min-width: 1200px) {
      top: 48px;
      left: 72px;
      width: 822px;
      height: 75px;
      font: 500 16px/29.76px 'DM Sans';
    }
  }

  &__text-container::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 30px;
    left: 53px;
    width: 54px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url(/src/images/customer-reviews/quotes.svg);

    @media screen and (min-width: 768px) {
      top: 20px;
      left: 6px;
      width: 60.35px;
    }

    @media screen and (min-width: 1200px) {
      top: 32px;
      left: 72px;
    }
  }

  &__text {
    position: relative;
    z-index: 2;
    padding-left: 15px;
    padding-right: 8px;
    font: 500 12px/30.6px 'DM Sans';

    @media screen and (min-width: 768px) {
      padding-left: 50.71px;
      padding-right: 55.18px;
      font: 500 14px/30.24px 'DM Sans';
    }

    @media screen and (min-width: 1200px) {
      padding-left: 109px;
      padding-right: 109px;
      font: 500 16px/29.76px 'DM Sans';
    }
  }

  &__sign::before {
    content: '';
    display: block;
    height: 4px;
    width: 32px;
    margin-bottom: 16px;
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;
    background-image: url(/src/images/customer-reviews/group-red-circle.svg);

    @media screen and (min-width: 768px) {
      margin-top: 4px;
      margin-bottom: 16px;
    }

    @media screen and (min-width: 1200px) {
      margin-top: 16px;
    }
  }

  &__sign {
    text-align: center;
    font: 500 14px/26.04px 'DM Sans';

    @media screen and (min-width: 768px) {
      font: 500 16px/29.76px 'DM Sans';
    }

    @media screen and (min-width: 1200px) {
      font: 500 20px/37.2px 'DM Sans';
    }
  }

  &__sign::after {
    content: '';
    background-image: url(/src/images/customer-reviews/house-dots.svg);
    display: block;
    height: 12px;
    width: 72.4px;
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: 768px) {
      margin-top: 32px;
    }
  }
}
