.customer-reviews{

    &__container-image{
        display: flex;
        justify-content: center;
        padding-bottom: 75px;
    }

    &__image{
    }

    
    &__text-container{
        text-align: center;
        line-height: 255%;
        padding: 0 40;
    }
        
    &__text::before{
        content: url(/src/images/customer-reviews/quotes.svg);
        margin-bottom: -45px;
        margin-left: -150px;
        display: block;
        }
    
    &__text{
        display: inline;
        background-repeat: no-repeat;
        background-position: center bottom 1px;
        background-size: 100% 1px;
        background-image: repeating-linear-gradient(to right, #e1e1e1, #e1e1e1);
        padding-bottom: 10px;
    }

    &__text::after{
        content:url(/src/images/customer-reviews/group-red-circle.svg);
        display: block;
        margin-bottom: 16px;
        margin-top: 16px;
        // position: absolute;
        // bottom: -16px;
        // left: 50%;
        // height: 4px;
        // width: 32px;
        // background-image: url('/src/images/customer-reviews/red-circle.svg');
    }
    
    &__sign{
        text-align: center;
    }
    &__sign::after{
        content:url(/src/images/customer-reviews/house-dots.svg);
        display: block;
        margin-top: 24px;
    }
   
}

