.customer-reviews{

    &__container-image{
        display: flex;
        justify-content: center;
    }
    
    &__text-container{
        position: relative;
        text-align: center;
        line-height: 255%;
        background-color: #fafafa;

        @media screen and (min-width: 320px) and (max-width: 767px) {
            padding: 30px 50px 17px 50px;
            margin-top: 32px;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            padding: 20px 0px 36px 0px;
            margin-top: 20px;
            margin-left: 74px;
            margin-right: 74px;

        }

        @media screen and (min-width: 1200px) and (max-width: 1600px) {
            padding: 43px 50px 17px 50px;
            margin-top: 32px;
        }
    }

    &__gradient {
        position: absolute;
        background-image: -webkit-repeating-linear-gradient(
            top,
            transparent 0px,
            transparent 29.6px,
            #e1e1e1 29.6px,
            transparent 30.6px);
        background-image: -moz-repeating-linear-gradient(
            top,
            transparent 0px,
            transparent 29.6px,
            #e1e1e1 29.6px,
            transparent 30.6px);
        background-image: -ms-repeating-linear-gradient(
            top,
            transparent 0px,
            transparent 29.6px,
            #e1e1e1 29.6px,
            transparent 30.6px);
        background-image: -o-repeating-linear-gradient(
            top,
            transparent 0px,
            transparent 29.6px,
            #e1e1e1 29.6px,
            transparent 30.6px);
        background-image: repeating-linear-gradient(
            top,
            transparent 0px,
            transparent 29.6px,
            #e1e1e1 29.6px,
            transparent 30.6px);

        @media screen and (min-width: 320px) and (max-width: 767px) {
            font: 500 12px/30.6px 'DM Sans';
            top: 45px;
            left: 50px;
            width: 180px;
            height: 269px;
        }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            font: 500 14px/30.24px 'DM Sans';
            top: 33px;
            left: 6px;
            width: 576px;
            height: 109px;
        }
        
        @media screen and (min-width: 1200px) and (max-width: 1600px) {

        }
    }
        
    &__text::before{
        content: url(/src/images/customer-reviews/quotes.svg);
        display: block;

        @media screen and (min-width: 320px) and (max-width: 767px) {
            margin-bottom: -38px;
            margin-left: -125px;
        }
        
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-bottom: -38px;
            margin-left: -500px;
        }
        
        @media screen and (min-width: 1200px) and (max-width: 1600px) {
            
        }
    }
    
    &__text{
        @media screen and (min-width: 320px) and (max-width: 767px) {
            padding-left: 15px;
            padding-right: 8px;
            font: 500 12px/30.6px 'DM Sans';
        }
        
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            padding-left: 50px;
            padding-right: 55px;
            font: 500 14px/30.24px 'DM Sans';
        }
        
        @media screen and (min-width: 1200px) and (max-width: 1600px) {

        }
    }
    
    &__sign::before{
        content: url(/src/images/customer-reviews/group-red-circle.svg);
        display: block;

        @media screen and (min-width: 320px) and (max-width: 767px) {
            margin-top: 8px;
            margin-bottom: 16px;
            font: 500 14px/26.04px 'DM Sans'
        }
        
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-top: -8px;
            margin-bottom: 16px;
            font: 500 16px/26.76px 'DM Sans'
        }
        
        @media screen and (min-width: 1200px) and (max-width: 1600px) {

        }
    }

    &__sign{
        text-align: center;

    }

    &__sign::after{
        content:url(/src/images/customer-reviews/house-dots.svg);
        display: block;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            margin-top: 20px;
        }
        
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-top: 32px;
        }
        
        @media screen and (min-width: 1200px) and (max-width: 1600px) {

        }
    
    }
   
}

