.footer {
  background-color: var(--linear-gradient);
}

.footer__logo {
  color: var(--text-accent-color);
  font-family: var(--font-family-secondary);
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  max-width: 234px;
}

.footer__sublogo {
  color: var(--text-lable-color);
  font-size: 18px;
  line-height: 1.17;

  padding-bottom: 16px;
}

.footer__address {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;
}

.footer__tel {
  color: var(--text-accent-color);
}

.footer__end {
  border-top: 1px solid var(--border-line-color);

  padding-top: 16px;
}

.footer__copyright {
  color: var(--text-about-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;

  margin: auto;

  max-width: 150px;
}
