.gallary-conteiner{
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    
    @media screen and (max-width:767px){
        width: 320px; 
    }
    @media screen and (min-width:768px){
        width: 768px;
    }
    @media screen and (min-width:1200px){
        width: 1013px;
    }
}
.gallary-conteiner__box{
    display: flex;
    gap: 2.5px;
    padding-left: 0;
    padding-right: 0;
    }

.gallery-conteiner__content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        gap: 2.5px;
        margin-top: auto;
        margin-bottom: auto;
        // outline: 1px solid black;
    }

.gallery-conteiner__list{
    flex-wrap: wrap;
    gap: 2.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;

    @media screen and (max-width:767px){
        margin-top: 10px;
    }
    @media screen and (min-width:768px){
        margin-top: 28px;
    }
    @media screen and (min-width:1200px){
        margin-top: 38px;
    }
}

.picture{
    background-size: contain;
    width: auto;
    border-radius: 8px;
    display: block;
}

.gallery-conteiner__fe{
    margin-bottom: auto;
    margin-top: auto;
    
    @media screen and (max-width:767px){
        width: 43.59px;
        height: 43.86px;
        border-radius: 8px;
    }
    @media screen and (min-width:768px){
        width: 104.62px;
        height:105.14px;
        border-radius: 20px; 
    }
    @media screen and (min-width:1200px){
        width: 138px;
        height: 138.68px;
        border-radius: 20px; 
    }
}
.gallery-conteiner__item{
    margin-bottom: auto;
    margin-top: auto;
    
    @media screen and (max-width:767px){
        width: 43.59px;
        height: 43.86px;
        border-radius: 8px;
    }
    @media screen and (min-width:768px){
        width: 104.62px;
        height:105.14px;
        border-radius: 20px; 
    }
    @media screen and (min-width:1200px){
        width: 138px;
        height: 138.68px;
        border-radius: 20px; 
    }
    }
    
    .gallery-conteiner__subitem{
    @media screen and (max-width:767px){
        width: 90px;
        height: 90px;
        border-radius: 8px;
        
    }
    @media screen and (min-width:768px){
        width: 214.55px;
        height: 214.81px;
        border-radius: 20px; 
    }
    @media screen and (min-width:1200px){
        width: 283px;
        height: 283.34px;
        border-radius: 20px;
    }
    }