
.products__title{
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    color: var( --text-lable-color);
}

.products__title-caption{
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 34px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: var(--text-btn-accent-color);
}

.products__list{
    flex-wrap: wrap; 

}
.products__section-cream::before{
    content:url("/src/images/products/products-cream-mobile.png");
    text-align: center;
    }

.products__section-coffee::before{
    content:url("/src/images/products/products-coffee-mobile.png");
    text-align: center;
    }

.products__section-milk::before{
    content:url("/src/images/products/products-milk-mobile.png");
    text-align: center;
    }  

// .products__img-cream::before{
//     content:url("/src/images/products/products-cream-mobile.png");
//     text-align: center;
//     }

// .products__img-coffee::before{
//     content:url("/src/images/products/products-coffee-mobile.png");
//     text-align: center;
//     }

// .products__img-milk::before{
//     content:url("/src/images/products/products-milk-mobile.png");
//     text-align: center;

// }

.products__input{
    margin-top: -140px;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    

&-cream{
    background-color: var(--bg-product1);
}

&-coffee{
    background-color: var(--bg-product2);
}

&-milk{
    background-color: var(--bg-product3);
} 
}

.products__title-chapter {
    padding-top: 160px;
    text-align: center;
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-secondary-color);

}
   
.products__title-text{
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--text-secondary-color);

    &:before{
        content:url("/src/images/products/pseudo-element-group.svg");
        display: block;
        margin-bottom: 32px;
        margin-top: 32px;
    }
}

.products__btn{
    position: relative;
    width: 40px;
    height: 40px;
    left: 120px;
    border-radius: 50%;
    background-color: var(--text-btn-color);
    border: 0px;
    margin-top: 278px ;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 40px;

   &-arrow{
    width: 30px;
    height: 12px;
    fill: var(--bg-btn-accent-color);
   }
   
}